/* styles/ItemList.module.css */
.tableContainer {
  margin-top: 20px;
  animation: fadeIn 0.5s ease-in-out;
}

.table {
  min-width: 650px;
}

.button {
  margin-right: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #ff5722;
  transform: scale(1.05);
}


/* styles/DisplayItem.module.css */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 20px;
  margin-top: 20px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}


.item {
  margin-bottom: 10px;
}

.quantity {
  color: #555;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




@keyframes highlightRow {
  from {
    background-color: #f0f0f0;
  }
  to {
    background-color: #ffffff;
  }
}

.tableRow {
  animation: highlightRow 1s ease;
}


/* styles/Home.module.css */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 20px;
  margin-top: 20px;
}

.addItem {
  grid-column: 1;
}

.displayItem {
  grid-column: 2;
}

.itemList {
  grid-column: 3;
}

.textField {
  margin-bottom: 20px;
}

.tableContainer {
  animation: fadeIn 0.5s ease-in-out;
}

.table {
  min-width: 650px;
}

.button {
  margin-right: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #ff5722;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tableRow {
  animation: highlightRow 1s ease;
}

@keyframes highlightRow {
  from {
    background-color: #f0f0f0;
  }
  to {
    background-color: #ffffff;
  }
}
